<section class="wrapper flex">
  <div class="sidebar">
    <h3>タイトル</h3>
  </div>
  <div class="content">
    <div class="mv">
      <p>
        ログインして投稿してみよう!<br>
        <%= link_to 'ログイン', new_user_session_path %><br>
        ログインはこちら<br>
        <%= link_to '新規登録', new_user_registration_path %>
      </p>
    </div>
    
  </div>
</section>
