<section class="wrapper flex">

  <div class="content">
    <h1>まなびコツコツ</h1>
    <div class="mv">
      <p>
        まなびコツコツは中小企業診断士試験の合格を目指し、日々勉強している方のためのサイトです。<br>
        日々の学習を投稿し、学習の歩みを確認できます。<br>
        コツコツ学んで合格を目指しましょう！<br>
        早速ログインして投稿しよう!<br>
        <%= link_to 'ログイン', new_user_session_path %><br>

        新機関員登録はこちら<br>
        <%= link_to '新規登録', new_user_registration_path %>
      </p>
    </div>
    <p><%= link_to 'ゲストログイン(閲覧専用)', guest_sign_in_path, method: :post %><br></p>

  </div>
</section>
