@use '~bootstrap/scss/bootstrap';
all{
  font-family: 'Arial Rounded MT Bold', sans-serif; /* 任意の丸みのあるフォントを指定 */
}

.tytle_icon {
        font-family: 'YourFont', sans-serif;
}
      
.bg-lime {
  background-color: #aaff80 !important;
}

.nav-link {
      color: #333;
      transition: color 0.3s;
    }

    .nav-link:hover {
      color: #007bff;
    }

    .nav-item {
      margin-right: 10px;
    }

    .nav-link.fa-solid:before,
    .nav-link.fa-solid:after {
      margin-right: 5px;
    }

    .nav-link.fa-solid:hover:before,
    .nav-link.fa-solid:hover:after {
      color: #007bff;
    }
    
.mv {
  border-bottom: 1px solid #ccc; /* 枠線のスタイルを設定 */
  padding-top: 20px; /* 枠線とコンテンツの間のスペースを設定 */
}
    
.logo{
  max-width: 100%;
  height: auto;
}

.logo.top_logo_first {
  width: 60%;
  height: auto;
}

.image-row {
  display: flex;
  justify-content: space-between; 
}

.logo.top_logo_second,
.logo.top_logo_fourth {
  width: 40%; /* 各画像が合計で80%となるように設定 */
  height: auto;
}

.logo.top_logo_third {
  width: 60%; /* 一番下の画像は60% */
  height: auto;
}



#learning_content {
  max-width: 100%; /* 親要素の幅を超えないようにする */
}

.btn-fukidashi-icon {
    position: relative;
    padding: 1rem 1rem 1rem 4rem;
    border-radius: 10px;
    background-color: #6ac14f; /* 緑色 */
    color: #fff; /* 白色 */
    text-decoration: none;
    transition: .5s;
}

.btn-fukidashi-icon::before {
    position: absolute;
    border-radius: 10px 0 0 10px;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background-color: #fff; /* 白色 */
    content: "";
}

.btn-fukidashi-icon::after {
    position: absolute;
    top: 50%;
    left: 3rem;
    height: 0;
    width: 0;
    border: solid transparent;
    border-left-color: #fff; /* 白色 */
    border-width: 7px;
    margin-top: -7px;
    content: "";
}

.btn-fukidashi-icon i {
    position: absolute;
    left: 0;
    width: 50px;
    color: #6ac14f; /* 緑色 */
}


.btn-fukidashi-icon:hover {
    box-shadow: 0 0 10px #222;
}

.btn-edit {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem 0.8rem;
    border: 3px solid #00c6ff;
    cursor: pointer;
    color: #00c6ff;
    fill: #00c6ff;
    font-size: 1rem;
    overflow: hidden;
    transition: all 0.3s;
}


@keyframes horseAnimation {
  0% { transform: translateX(0); }
  50% { transform: translateX(50px); }
  100% { transform: translateX(0); }
}

.fa-horse {
  animation: horseAnimation 5s infinite;
}

.learn-record-link {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  text-decoration: underline;
  transition: all 0.3s ease;
}

.learn-record-link:hover {
  color: #f09fa1;
}

/* ページネーションのリンクの色を変更 */
.pagination .page-link {
    color: #9ACD32; /* リンクの色を黄緑に設定 */
}

/* アクティブなページの背景色を変更 */
.pagination .page-item.active .page-link {
    background-color: #9ACD32; /* アクティブなページの背景色を黄緑に設定 */
    border-color: #9ACD32; /* ボーダーの色も変更（必要に応じて） */
}

#weekly-learning-chart {
    border: 1px solid #ccc; /* 枠線の色と太さを指定 */
    padding: 10px; /* 枠線とグラフの間に余白を設定 */
}


