@use '~bootstrap/scss/bootstrap';
body {
  font-family: 'Arial Rounded MT Bold', sans-serif; /* 任意の丸みのあるフォントを指定 */
}

.tytle_icon {
        font-family: 'YourFont', sans-serif;
}
      
.bg-lime {
  background-color: #aaff80 !important;
}

.nav-link {
      color: #333;
      transition: color 0.3s;
    }

    .nav-link:hover {
      color: #007bff;
    }

    .nav-item {
      margin-right: 10px;
    }

    .nav-link.fa-solid:before,
    .nav-link.fa-solid:after {
      margin-right: 5px;
    }

    .nav-link.fa-solid:hover:before,
    .nav-link.fa-solid:hover:after {
      color: #007bff;
    }
    
    .pagination {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    list-style: none;
    padding: 0;
}

#learning_content {
  max-width: 100%; /* 親要素の幅を超えないようにする */
}

.pagination a {
    display: inline-block;
    color: black;
    border-bottom: 3px solid #dedede;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.pagination i {
    line-height: 40px;
}

.pagination .active a {
    border-bottom: 3px solid #f09fa1;
}

.pagination a:hover {
    border-bottom: 3px solid #efc2c2;
}

.pagination .disabled a {
    pointer-events: none;
    color: #ccc;
}

.pagination .disabled a:hover {
    background-color: initial;
    color: #ccc;
}

@keyframes horseAnimation {
  0% { transform: translateX(0); }
  50% { transform: translateX(20px); }
  100% { transform: translateX(0); }
}

.fa-horse {
  animation: horseAnimation 5s infinite;
}

.learn-record-link {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  text-decoration: underline;
  transition: all 0.3s ease;
}

.learn-record-link:hover {
  color: #f09fa1;
}